/*
    Site CSS
    copyright 2014, mikedice417@hotmail.com
*/
.content-pane {
    margin: 20px;
}

.title-banner {
    height: 100px;
    color:red;
}


.blog-feed {
    color:green;

}

.splash-screen {
    color:blue;
}

.gallery-list {
    color:grey;
}